@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root 
{
    --bg: #1a1a1a;
    --primary-color: #f8192c;
    --secondary-color: #161719;
    --tertiary-color:  #161719;

    --text-primary: #fff;
    --text-secondary: #5b5b5e;


    --section-padding: 120px;

}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    /* background: rgba(145, 144, 144, 0.3); */
    background: var(--primary-color);
    border-radius: 20px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {list-style: none;}

a {
    text-decoration: none;
    color: inherit;
}

img {height: auto;}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

input {width: 100%;}

button {cursor: pointer;}

address {font-style: normal;}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    font-size: 1.6rem;
    overflow-x: hidden;
}

:focus-visible { outline-offset: 4px;}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-color);
    transition: 0.5s;
    z-index: 1000;
} 

.logo {
    width: 30%;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

header ul li {
    margin: 10px;
}

header ul li a {
    color: var(--text-primary);
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    transition: 0.3s linear;
    font-size: 0.8em;
}

header #tooltip .logout {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-top: 8px;
    padding-right: 20px;
}

header ul li a:hover {
    color: var(--primary-color);
}

header .action {
    display: flex;
}

header .action .searchBx {
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-primary);
    border-radius: 30px;
    width: 200px;
}

header .action .searchBx i{
    font-size: 1.4em;
    margin: 5px;
    color: var(--bg);
}

header .action .searchBx input {
    outline: none;
    border: none;
    font-size: 1em;
    color: var(--secondary-color);
}

#tooltip {
    position: relative;
    cursor: pointer;
}

#tooltipText {
    position: absolute;
    left: 37%;
    top: 120%;
    transform: translateX(-50%);
    background: var(--text-primary);
    color: var(--bg);
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#tooltipText::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    border: 8px solid;
    border-color: #0000 #0000 #fff #0000;
}

#tooltip:hover #tooltipText {
    visibility: visible;
    opacity: 1;
}


/*====================HOME=======================*/

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0px 100px;
    display: flex;
    margin-bottom: 20px;
}

.banner .bgwelcome {
    position: absolute;
    color: var(--text-primary);
    width: 30%;
    z-index: -10;
    opacity: 0.04;
    left: 8%;
    top: 19%;
    animation: rotation1 50s infinite linear;
    pointer-events: none;
}

.banner .bgwelcome1 {
    position: absolute;
    color: var(--text-primary);
    font-size: 150px;
    z-index: -10;
    opacity: 0.03;
    right: -35%;
    top: 25%;
    transform: translate(0%, 0%) rotate(90deg);
    pointer-events: none;
}

@keyframes rotation1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}


.banner .social {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 130px;
    left: 30px;
    opacity: 0.4;
}

.banner .social .line {
    height: 400px;
    width: 1px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-left: 13px;
}

.banner .social a {
    color: #fff;
    margin-right: 100px;
    font-size: 25px;
}

.banner .bg {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .bg .content {
    width: 50%;
    margin-right: 50px;
}

.banner .bg .content h1 {
    background: -webkit-linear-gradient(180deg, var(--primary-color), #ff4949, var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 5em;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 1.3;
}

.banner .bg .content h2 {
    font-size: 2em;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;

}

.banner .bg .content p {
    font-size: 1em;
    color: #fff;
    letter-spacing: 1px;
}

.banner .bg .content a {
    display: inline-block;
    font-size: 1em;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid var(--primary-color);
    color: var(--text-primary);
    text-decoration: none;
    font-weight: 600;
    border-radius: 30px;
    letter-spacing: 1px;
    box-shadow: 0 5px 20px var(--tertiary-color);
    text-align: center;
}

.banner .bg .content a:hover {
    background: var(--primary-color);
    color: var(--text-primary);
}

.banner .bg img {
    width: 400px;
    animation: rotation 50s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

a#scroll-btn {
    position: absolute;
    height: 2.5em;
    width: 1.5em;
    border: 1px solid #ffffff;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 4em;
    border-radius: 3em;
  }
  a#scroll-btn:before {
    position: absolute;
    content: "";
    margin: auto;
    left: 0;
    right: 0;
    top: 5px;
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    animation: move-down 2s infinite;
  }
  @keyframes move-down {
    80% {
      opacity: 0.5;
    }
    100% {
      transform: translateY(20px);
      opacity: 0;
    }
  }
  a#scroll-btn:after {
    position: absolute;
    content: "Scroll Down";
    display: block;
    width: 12em;
    text-align: center;
    left: -4.3em;
    bottom: -2em;
    font-size: 10px;
    color: #ffffff;
    letter-spacing: 3px;
    font-weight: 600;
  }

  .bxl-facebook-circle {
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .bxl-facebook-circle:hover {
    transform: scale(1.5);
  }

  .bxl-instagram-alt {
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .bxl-instagram-alt:hover {
    transform: scale(1.5);
  }

  .bxl-twitter {
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .bxl-twitter:hover {
    transform: scale(1.5);
  }
  



/*====================PRODUCTS=======================*/

#products {
    background: var(--bg);
    /* overflow: hidden; */
    margin-top: 80px;
    margin-bottom: 100px;
    height: 130vh;
}

.featuring-main-title-products {
    width: 100%;
    /* height: 120px; */
    
}

.featuring-title-products {
    font-size: 100px;
    text-align: center;
    color: #f8192c;
    font-weight: 700;
    padding-top: 20px;
    letter-spacing: 5px;
    overflow: hidden;
}

.featuring-main-title-products h2 {
    position: absolute;
    font-size: 225px;
    z-index: 0;
    font-weight: 700;
    color: #fff;
    opacity: 0.04;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    text-align: center;
}

.main-content-products {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Secular One', sans-serif;
    z-index: 1;
    
}

.mouse-product{
    width: 560px; 
    height: 370px;
    background-color:#161719;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--text-secondary);
    border-radius: 5px;
    margin-top: 100px;
    box-shadow: 0px 0px 10px black;
    z-index: 2;
    margin: 20px;
    bottom: 0; 
    cursor: pointer; 
    transform-style: preserve-3d;
    perspective: 1000px;
}


.mouse-product-content {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 300px;
    transform: translateZ(50px);
}

.img-mouse {
    background: url(../img/mouse.png); 
    background-size: fill;
    background-repeat: no-repeat;
    background-position: left;
    width: 400px;
    height: 500px;
    opacity: 1;
    z-index: 5;
    margin-left: -100px;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
} 

/* .img-mouse:hover {
    transform: scale(1.2) translate(-8%);
    
}  */

.mouse-class-product {
    margin-top: 10px;
    width: 500px;
    padding-right: 80px;
    height: 470px;
    padding-top: 20px;
}


.mouse-class-product {
    stop-opacity: 1;
}

.mouse-name-text {
    position: absolute;
    font-size: 150px;
    color: #f8192c;
    opacity: 0.3;
    margin-left: 80px;
}

.background-text-mouse {
    position: absolute;
    font-size: 190px;
    color: #3a4c5a;
    z-index: 3;
    margin-right: 700px;
    margin-bottom: 100px;
}

.mouse-product-content {
    height: 400px;
    width: 500px;
    text-align: left;
    margin-left: 60px;
    margin-top: 100px;
    z-index: 4;
}

.text-mouse-starting {
    color: rgb(104, 110, 115);
    font-size: 18px;
}

.mouse-price {
    color: #f8192c;
    font-size: 35px;
}

.second-text-mouse {
    margin-top: 80px;
    z-index: 2;
}

.second-text-mouse:hover .mouse-bottom-left-text{ 
    transform: translateY(-40%);
}

.mouse-bottom-left-text {
    font-size: 80px;
    color: #fff;
    font-weight: 600;
    z-index: 3;
    margin-bottom: -10px;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mouse-sub-content-pic {
    width: 400px;
    box-shadow: 1px 1px 10px white;
}

.bx-minus-circle {
    font-size: 30px;
    color: tomato;
    display: inline-block;
    vertical-align: middle;
    z-index: 5;
}

.browse-btn {
    display: inline-block;
    vertical-align: middle;
    color: rgb(140, 135, 135);
    font-size: 20px;
    margin-left: 30px;
    z-index: 5;
}



/*Headset product css for feature*/


.headset-product{
    width: 560px; 
    height: 370px;
    background-color:#161719;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--text-secondary);
    border-radius: 5px;
    margin-top: 100px;
    box-shadow: 0px 0px 50px black;
    z-index: 2;
    margin: 20px;
    bottom: 0; 
    cursor: pointer; 
    transform-style: preserve-3d;
    perspective: 1000px;
}

#main-second-row-products {
    margin-bottom: 200px;
}

.headset-product-content {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 300px;
    transform: translateZ(50px);
    z-index: 4;
}

.img-headset {
    background: url(../img/headset.png); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 460px;
    height: 320px;
    margin-left: -80px;
    margin-top: -20px;
    opacity: 1;
    z-index: 5;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
} 

/* .img-headset:hover {
    transform: scale(1.2) translate(-8%);
    cursor: pointer;
} */

.headset-class-product {
    margin-top: 10px;
    width: 500px;
    padding-right: 80px;
    height: 470px;
    padding-top: 20px;
}


.headset-class-product {
    stop-opacity: 1;
}

.headset-name-text {
    position: absolute;
    font-size: 150px; 
    color: #f8192c; 
    opacity: 0.3;
    margin-left: 80px;
}

.background-text-headset {
    position: absolute;
    font-size: 190px;
    color: #3a4c5a;
    z-index: 3;
    margin-right: 700px;
    margin-bottom: 100px;
}

.headset-product-content {
    height: 400px;
    width: 500px;
    text-align: left;
    margin-left: 60px;
    margin-top: 100px;
    z-index: 4;
}

.text-headset-starting {
    color: rgb(104, 110, 115);
    font-size: 18px;
}

.headset-price {
    color: #f8192c;
    font-size: 35px;
}

.second-text-headset {
    margin-top: 80px;
    z-index: 2;
}

.headset-bottom-left-text {
    font-size: 80px;
    color: #fff;
    font-weight: 600;
    z-index: 3;
    margin-bottom: -10px;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.headset-sub-content-pic {
    width: 400px;
    box-shadow: 1px 1px 10px white;
}


.second-text-headset:hover .headset-bottom-left-text{ 
    transform: translateY(-40%);
}

/*keyboard product css for feature*/

.keyboard-product{
    width: 560px; 
    height: 370px;
    background-color:#161719;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--text-secondary);
    border-radius: 5px;
    margin-top: 100px;
    box-shadow: 0px 0px 50px black;
    z-index: 2; 
    margin: 20px; 
    bottom: 0; 
    cursor: pointer; 
    transform-style: preserve-3d;
    perspective: 1000px;
}

.keyboard-product-content {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 300px;
}

.img-keyboard {
    background: url(../img/keyboard.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    width: 460px;
    height: 500px;
    margin-left: -110px;
    margin-top: -60px;
    opacity: 1;
    z-index: 3;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* .img-keyboard:hover {
    transform: scale(1.2) translate(-8%);
    cursor: pointer; 
} */

.keyboard-class-product {
    margin-top: 10px;
    width: 500px;
    padding-right: 80px;
    height: 470px;
    padding-top: 20px;
}


.keyboard-class-product {
    stop-opacity: 1;
}

.keyboard-name-text {
    position: absolute;
    font-size: 150px;
    color: #f8192c;
    opacity: 0.3;
    margin-left: 70px;
}

.background-text-keyboard {
    position: absolute;
    font-size: 190px;
    color: #3a4c5a;
    z-index: 3;
    margin-right: 700px;
    margin-bottom: 100px;
}

.keyboard-product-content {
    height: 400px;
    width: 500px;
    text-align: left;
    margin-left: 60px;
    margin-top: 100px;
    z-index: 4;
    transform: translateZ(50px);
}

.text-keyboard-starting {
    color: rgb(104, 110, 115);
    font-size: 18px;
}

.keyboard-price {
    color: #f8192c;
    font-size: 35px;
}

.second-text-keyboard {
    margin-top: 80px;
    z-index: 2;
}

.keyboard-bottom-left-text {
    font-size: 80px;
    color: #fff;
    font-weight: 600;
    z-index: 3;
    margin-bottom: -10px;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.keyboard-sub-content-pic {
    width: 400px;
    box-shadow: 1px 1px 10px white;
}

.second-text-keyboard:hover .keyboard-bottom-left-text{ 
    transform: translateY(-40%);
}

/*mats product css for feature*/

.mats-product{
    width: 560px; 
    height: 370px;
    background-color:#161719;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--text-secondary);
    border-radius: 5px;
    margin-top: 100px;
    box-shadow: 0px 0px 50px black;
    z-index: 2;
    margin: 20px;
    bottom: 0; 
    cursor: pointer; 
    transform-style: preserve-3d;
    perspective: 1000px;
}

.mats-product-content {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 300px;
    transform: translateZ(50px);
}

.img-mats {
    background: url(../img/mousepad.png); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 420px;
    height: 240px;
    margin-right: -5px;
    margin-top: -50px; 
    opacity: 1;
    z-index: 5;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    
} 

/* .img-mats:hover {
    transform: scale(1.2) translate(-8%);
    cursor: pointer;
} */

.mats-class-product {
    margin-top: 10px;
    width: 500px;
    padding-right: 80px;
    height: 470px;
    padding-top: 20px;
}


.mats-class-product {
    stop-opacity: 1;
}

.mats-name-text {
    position: absolute;
    font-size: 150px; 
    color: #f8192c; 
    opacity: 0.3;
    margin-left: 80px;
}

.background-text-mats {
    position: absolute;
    font-size: 190px;
    color: #3a4c5a;
    z-index: 3;
    margin-right: 700px;
    margin-bottom: 100px;
}

.mats-product-content {
    height: 400px;
    width: 500px;
    text-align: left;
    margin-left: 60px;
    margin-top: 100px;
    z-index: 4;
}

.text-mats-starting {
    color: rgb(104, 110, 115);
    font-size: 18px;
}

.mats-price {
    color: #f8192c;
    font-size: 35px;
}

.second-text-mats {
    margin-top: 80px;
    z-index: 2;
}

.mats-bottom-left-text {
    font-size: 80px;
    color: #fff;
    font-weight: 600;
    z-index: 3;
    margin-bottom: -10px;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mats-sub-content-pic {
    width: 400px;
    box-shadow: 1px 1px 10px white;
}

.second-text-mats:hover .mats-bottom-left-text{ 
    transform: translateY(-40%);
}




/* OUR TEAM */



#ourteam .container-ot {
    
    display: flex;
     width: 100%;
     margin: 0 auto;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin-left: 5px;
     
     
 }


 
 /* REVIEW BY MEL MATHEW POGI JR IN SENIOR */
#review {
    width: 100%;
}
#review img{
    max-width: 100%;
    height: auto;
    position: relative;
    margin-top: -72px;
    border-radius: 100%;
    transform: translateZ(50px);
}

#review .reviews {
    color: #fff;
    text-align: center;
    font-size: 120px;
    position: absolute;
    transform: translate(-50%, 50%);
    top: 314%;
    left: 50%;
    z-index: 10;
} 
#review h2{
    text-align: center;
    width: 85;
    margin: auto;
    margin-bottom: 20px;
    color: var;
}

#review h1 {
    margin-top: -80px;
}

#review h2{
    position: relative;
    font-size: 120px;
    /* color: var(--primary-color);  */
    /* -webkit-text-stroke: 0.1vw #5b5b5e; */
    /* background: var(--primary-color); */
    text-transform: uppercase;
    opacity: 0.1;
}
#review h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--primary-color); 
    overflow: hidden;
    animation: animate 4s linear infinite;
}  
.wrapper{
    width: 85%;
    margin: auto;
    position: relative;
}
.item{
    position: relative;
    z-index: 10;
    background-color: transparent;
    padding: 68px 20px 32px 20px;
    border: 2px solid var(--text-secondary); 
    width: 100%;
    margin: 15px;
    border-radius: 5px;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.item i{
    font-size: 52px;
    position: absolute;
    top: 0;
    right: 10px;
    color: var(--primary-color);
}
.down{
    width: 100%;
    height: 35%;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.heading{
    color: var(--text-primary); 
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px 0 0 0;
    text-align: center;
    transform: translateZ(50px);
}
.card{
    background-color: rgba(30, 29, 29, 1);
    border-radius: 20px;
    padding: 100px 20px 32px 20px;
    position: relative;
    display: inline-block;

}
.star{
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: center;
    transform: translateZ(50px);
}
.star i{
    font-size: 15px;
    margin: 0;
    color: #ffd11a;
    position: relative;
    transform: translateZ(50px);
}
.card p{
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    text-align: justify;
    transform: translateZ(50px);
}
.slide-arrow{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-arrow i{
    position: relative;
    font-size: 30px;
    color: red; 
    left: 10%;
    font-size: 37px;  
}
.previous-arrow{
    top: 45%;
    left: -10px;
    position: absolute;
}
.next-arrow{
    top: 45%;
    right: -10px;
    position: absolute;
}
.slick-dots{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.slick-dots li button{
    border: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    color: transparent;
}
.slick-dots li.active button{
    color: #000;
}
@keyframes animate{
    0%,70%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}

/*========================REVEAL==================*/
 
.reveal {
    position: relative;
    transform: translateY(130px);
    opacity: 0;
    transition: 1s ease;
}

.reveal.active1 {
    transform: translateY(0px);
    opacity: 1;
}

/*================================================*/





/*========================PARTNERS==================*/

#partners {
    align-items: center;
    background: var(--secondary-color);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
} 

.slider {
    height: 60vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
    margin-bottom: 100px;
}

.slider h2 {
    text-align: center;
    padding: 0 10px 40px;
    font-size: 100px;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 100px;
}

.slider h1 {
    position: absolute;
    font-size: 185px;
    z-index: -1;
    font-weight: 700;
    color: var(--text-primary);
    opacity: 0.04;
    transform: translate(-50%, -50%);
    top: 33%;
    left: 50%;
    text-align: center;
    
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
    margin-top: -50px;
}

.slider .slide {
    height: 100px;
    width: 250px;
    margin-left: 30px;
    opacity: 0.5;
}

/*======================Footer-Section==========================*/

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

#footer-section {
    width: 100%;
    height: 50vh;
    background: var(--tertiary-color);
    margin-top: 10%;
    position: relative;
}

.footer-socmed-icon-section {
    width: 100px;
    height: 50vh;
    background: #200101;
    position: absolute;
    z-index: 100;
    box-shadow: 0px 30px 20px black;
}

.footer-logo-img {
    position: absolute;
    width: 270px;
    opacity: 1;
    margin-left: -85%;
    margin-top: 200%;
    animation: footerLogoAnimation 20s linear infinite;
    transform: rotate(-90deg);
}

/*
@keyframes footerLogoAnimation 
{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
*/


.title-section-column-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    background: rgb(8, 8, 8);
    padding-left: 100px;
    height: 8vh;
    /* box-shadow:inset 0px 5px 20px #1a1a1a,
                     0px 6px 30px #1a1a1a; */
}

.first-section-column-footer p{
    padding-left: 60px;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #fff;

}
.footer-animation-line {
    position: absolute;
    width: 100%;
    height: 50px;
    margin-left: -160px;
    animation: footerFlashanimation 8s linear infinite;
}

@keyframes footerFlashanimation
{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(95%);
    }
}


.footer-animation-line::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, transparent,#f8192c);
    background-repeat: no-repeat;
    width: 300px;
    height: 20%;
    background-size: 300px;
    z-index: 10;
}

.footer-animation-line::after {
    content: '';
    position: absolute;
    top: 0;
    left: 20%;
    transform: translate(-50%);
    width: 30px;
    height: 20%;
    background: #d60a0a;
    border-radius: 50%;
    z-index: 100;
    box-shadow: 0 0 10px #f8192c,
                0 0 20px #f8192c,
                0 0 30px #f8192c,
                0 0 40px #f8192c,
                0 0 50px #f8192c,
                0 0 60px #f8192c,
                0 0 70px #f8192c,
                0 0 80px #f8192c,
                0 0 90px #f8192c,
                0 0 100px #f8192c;

}


.footer2-animation-line {
    position: absolute;
    width: 100%;
    height: 50px;
    animation: footer2Flashanimation 8s linear infinite;
}


@keyframes footer2Flashanimation
{
    0%{
        transform: translate(95%);
    }
    100%{
        transform: translate(0);
    }
}

.footer2-animation-line::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left, transparent,#f8192c);
    background-repeat: no-repeat;
    width: 300px;
    height: 20%;
    background-size: 300px;
    z-index: 10;
}

.footer2-animation-line::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    transform: translate(-50%);
    width: 30px;
    height: 20%;
    background: #d60a0a;
    border-radius: 50%;
    z-index: 100;
    box-shadow: 0 0 10px #f8192c,
                0 0 20px #f8192c,
                0 0 30px #f8192c,
                0 0 40px #f8192c,
                0 0 50px #f8192c,
                0 0 60px #f8192c,
                0 0 70px #f8192c,
                0 0 80px #f8192c,
                0 0 90px #f8192c,
                0 0 100px #f8192c;
}


.second-section-column-footer p{
    padding-left: 60px;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #fff;
}
.third-section-column-footer p{
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #fff;
}
.fourth-section-column-footer p{
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #fff;
}

.product-info-footer-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    padding-left: 150px;
    margin-top: 20px;
}

.first-row-info-footer ul {
    list-style: none;
    line-height: 25px;
}


.first-row-info-footer ul li::before {
        content: "\2022";
        color: #f8192c;
        font-weight: bold;
        width: 10em;
        margin-right: 10px;
}

.first-row-info-footer ul li{
    list-style: none;
}

.first-row-info-footer ul li a{
    text-decoration: none;
    color: rgb(104, 104, 104);
    transition: all 0.3 ease-in-out;
    font-size: 13px;
}

.first-row-info-footer ul li a:hover{
    color: #9e9e9e;
}

.fourth-row-info-footer ul li {
    list-style: none;
    line-height: 25px;
}

.fourth-row-info-footer ul li a{
    text-decoration: none;
    color: rgb(104, 104, 104);
    transition: all 0.3 ease-in-out;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    padding-bottom: 8px;
}

.fourth-row-info-footer ul li a:hover{
    color: #959191;
}

.fourth-icon-footer-box {
    display: inline-block;
    vertical-align: middle;
}

.fourth-text-icon-footer-box {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}


.text-form-footer {
    color: rgb(84, 82, 82);
    font-size: 12px;
    padding-bottom: 20px;
    max-width: 400px;
}

.subscribe-section-footer {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 5px;
}

.input-footer-search {
    width: 280px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background: #fff;
    box-shadow: 0px 0px 10px #1a1a1a;
}

.input-footer-search[type="text"] {
    font-size: 15px;
    padding-left: 10px;
    color: #000000;
}

.btn-footer-subscribe {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    padding-left: 5px;
    background-color: #f8192c;
    color: #fff;
    box-shadow: 0px 0px 10px #000000;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-footer-subscribe:hover {
    background-color: #ffffff;
    color: #f8192c;
    transform: scale(1.1);
}

.contact-icon-footer {
    display: inline-block;
    width: 200px;
    margin-top: 10px;
}

.email-icon-footer {
    display: inline-block;
    width: 280px;
    margin-top: 10px;
}

.contact-text-footer {
    display: inline-block;
}

.footer-contact-us-text {
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 5px;
    color: rgb(219, 217, 217);
}

.icon-footer-contact {
    color: white;
    margin-right: 10px;
    font-size: 30px;
}

.upper-text-contact-frt {
    color:#f8192c;
    font-size: 10px;
}

.lower-text-contact-frt {
    font-size: 15px;
    color: #fff;
    font-weight: 550;
}

.footer-copyright-main-section {
    margin-top: 60px;
    width: 100%;
    margin-left: 200px;

}

.line-segment-copyright {
    width: 85%;
    height: 2px;
    background: #f8192c;
    position: absolute;
    bottom: 10%;
    margin-left: -60px;
}

.footer-copyright-section {
    margin-top: 6px;
    display: flex;
}

.footer-copyright-text {
    color:#5b5858;
    font-size: 12px;
    position: absolute;
    bottom: 5%;
    margin-left: -60px;
}

.footer-socmed-icon-copyright {
    margin-left: 1130px;
    position: absolute;
    bottom: 2%;
    margin-top: 2px;
}

.footer-socmed-icon-copyright .bx {
    color: white;
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.footer-socmed-icon-copyright .bx:hover {
    color:#959191;
    transform: scale(1.2);
}

.footer-icon-brand {
    width: 25px;
}

.bx-phone-call {
    font-size: 25px;
    color: #f8192c;
    border: 3px solid #f8192c;
    border-radius: 50%;
    padding: 3px;
    margin-right: 5px;
}

.bxs-envelope {
    font-size: 25px;
    color: #f8192c;
    border: 3px solid #f8192c;
    border-radius: 50%;
    padding: 3px;
    margin-right: 5px;
}

